body{
    background-image: url("/images/front.jpg");
    background-size: 100%;
}
.container{
    color:maroon;
    text-align: center;
}
.panel-default{
    background-color: blue;
    float:left;
    padding: 10px;
    margin: 5px;
}

